.perfil-dropdown {
  position: absolute;
  top: 4.5rem;
  right: 4.5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 100;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perfil-dropdown::before{
  content: '';
  position: absolute;
  top: -2rem;
  right: 2rem;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background-color: #ccc;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}